header{
    background: url(images/central_park.jpg) 0 -200px;
    background-size: 1500px;
    height: 400px;
  }
  li { 
    list-style-type: none;
    display: inline;
    padding: 0 20px;
  }
  li a{
    text-decoration: none;
  }
  li a:link{
    color:black;
  }
  li a:visited{
    color:#818db3;
  }
  li a:hover{
    color: #333;
  }
  li a:active{
    color: #753a30
  }
  nav{
    background-color:rgb(red, green, blue);
    height: 50px;
    text-align: center;
    padding: 2px;
  }
  main{
    margin: 50px;
  }
  main h1{
    color: rgb(129,141,179);
    font-family: arial;
  }
  footer{
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
  }
  table{
    margin-top: 35px;
  }
  table, caption, th, td{
    border: 1px solid #000;
  }
  th, td{
    width: 150px;
    height: 35px;
    text-align: center;
  }
  caption{
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
  }
  label{
    display: block;
    margin: 15px 0 0 0;
  }
  input{
    width: 300px;
  }
  iput[type="radio"]{
    width: 25px;
  }
  textarea{
    width: 300px;
  }
  input[type="submit"]{
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
  }
 #album img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
 }
 /* #album{
  display:flex;
  grid-auto-columns: repeat(3, 1fr);
  gap: 10px;
 } */
 #album img:hover{
  transform: scale(1.1);
 }
 .captionTexts{
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  margin-top: 0px;
  padding: 1px;
  box-sizing: border-box;
  background-color: rgba(91, 51, 103, 1.5);
  color: white;
  font-size: 14px;
  position: relative;
  visibility: visible;
  border-radius: 22px;
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.text-box {
  padding: 10px;
  margin-top: 50%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: left;
  width: 40%;
  border-radius: 30px;
  position: relative;
}

.text-box h1 {
  color: #fff;
}
  
