header{
    background: url(images/central_park.jpg) 0 -200px;
    background-size: 1500px;
    height: 400px;
  }
  li { 
    list-style-type: none;
    display: inline;
    padding: 0 20px;
  }
  li a{
    text-decoration: none;
  }
  li a:link{
    color:black;
  }
  li a:visited{
    color:#818db3;
  }
  li a:hover{
    color: #333;
  }
  li a:active{
    color: #753a30
  }
  nav{
    background-color:rgb(red, green, blue);
    height: 50px;
    text-align: center;
    padding: 2px;
  }
  main{
    height: 480px;
  }
  main h1{
    color: rgb(129,141,179);
    font-family: arial;
  }
  footer{
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
  }
